:host {
    margin-top     : 1em;
    width          : 100%;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    display        : flex;
}

a {
    margin       : 1em 0;
    text-overflow: ellipsis;
    white-space  : break-spaces;
    display      : block;
    overflow     : hidden;
    width        : 100%;
    max-width    : 90%;
}

button {
    margin-right: .5em;
}