<form [formGroup]="bookmarkForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="card">
      <label>Enter URL</label>
      <input type="text" formControlName="url" class="form-control mb-2">
      <div *ngIf="controls['url'].touched && controls['url'].invalid" class="alert alert-danger">
        <div *ngIf="controls['url'].errors!['required']">Please provide url</div>
        <div *ngIf="controls['url'].errors!['pattern']">Please provide valid url</div>
        <div *ngIf="controls['url'].errors!['repeat']">The url provided already exists in your list</div>
      </div>
      <button class="btn btn-dark" [disabled]="!bookmarkForm['valid']" type="submit">Save</button>
    </div>
  </form>