<form [formGroup]="bookmarkForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="card">

      <label for="url" >Enter URL:</label>
      <input name="url" type="text" formControlName="url">

      <div *ngIf="controls['url'].touched && controls['url'].invalid && controls['url'].errors" class="alert"> 
        <p *ngIf="controls['url'].errors['required']">Please provide a url</p>
        <p *ngIf="controls['url'].errors['pattern']">Please provide a valid url</p>
        <p *ngIf="controls['url'].errors['repeat']">The url provided already exists in your list</p>
      </div>
      <button class="btn btn-dark" [disabled]="!bookmarkForm['valid']" type="submit">Save</button>
    </div>
  </form>